# Dependencies
node_modules/

# Compiled output
dist/

# Editors and IDEs
.idea
.vscode/*
!.vscode/extensions.json
.jsbeautifyrc

# Misc
.DS_Store
npm-debug.log

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# environment files
.env.*
!.env.example